
.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

    color: black;
  }
  
  .modal {
    width: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .close {
    position: absolute;
    top: 5%;
    right: 5%;
    cursor: pointer;

    color: red;
    font-size: 75px;
    font-weight: 800;
  }
  
  .user-details {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

  }

  .id-data-group {

    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;

    text-align: left;

    margin-bottom: 20px;

  }
  
  .user-details label {

    width: 30%;


    flex-wrap: nowrap;
    margin-right: 7px;
    font-weight: bold;

    color:#12002b;
  }
  
  .user-details input {
    width: 50%;
    padding: 5px;
    margin-bottom: 10px;

    color: lightslategray;

  }
  
  
  .action-buttons button {
    margin-right: 10px;
  }

  .first_name_bloc span, .last_name_bloc span {

    font-weight: 500;
  }

  .user_name_bloc span {

    font-weight: 500;
    color:#28692b;


  }

  /* specific style for modify button*/

  .user_name_bloc {

    display: flex;
    flex-direction: row;
    align-items: center;

  }

  .modify-button {
    margin-left: 50px;
 
    display: inline-block;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    /* border: none;
    border-radius: 5px; */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  
    border-color: #00bc77;
    background-color: #00bc77;
    color: #fff;
    font-weight: bold;
    
  }
  

  .modify-button:hover {
    background-color:#12002b;
  }
  
  
  