/* Header.css */
.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}

.main-nav {

  position: relative;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

.main-nav a {
  font-weight: bold;
  color: #2c3e50;
}

.main-nav a.router-link-exact-active {
  color: #42b983;
}

.main-nav-item {
  text-decoration: none;
  margin-right: 0.5rem;
}

.main-nav-item:hover {
  text-decoration: underline;
}

.main-nav-logo {
  display: flex;
  align-items: center;
}

.main-nav-logo-image {
  max-width: 100%;
  width: 200px;
}

/* additional style */

.fa {

  margin-right: 10px;

}

.fa-sign-out {

  margin-left: 10px;
}

.header_user_info_bloc {
  display: flex;
  flex-direction: row;
}

.headerNameClass {

  font-size: 18px;
  font-weight: bold;
  color: #28692b;

}

.header_user_info_bloc .headerNameClass:hover {
  pointer-events: none !important;
  text-decoration: none !important;
  text-decoration-color: white !important;
}

/* log out pop up style */


.custom-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1; /* on top of every elements */
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-popup {

  width: 20%;

  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.custom-popup-content {
  margin-bottom: 20px;
  font-weight: 700;
}

.custom-popup-buttons {

  display: flex;
  flex-direction: row !important;
  justify-content: center;

}

.custom-popup-buttons button {

  

  margin: 10px;

  padding: 5px 10px;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.custom-popup button:first-child {
  background-color: #12002b;
  color: gray;
}

.custom-popup button:last-child {
  background-color: rgb(120, 238, 120);
  color: green;
}

.custom-popup button:first-child:hover {

  background-color: #12002b;
  color: #fff;

}

.custom-popup button:last-child:hover {

  background-color: green;
  color: #fff;

}