.sign-in-button {
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 1rem;
    border-color: #00bc77;
    background-color: #00bc77;
    color: #fff;
  }
  
  .sign-in-content {
    box-sizing: border-box;
    background-color: white;
    width: 300px;
    margin: 0 auto;
    margin-top: 3rem;
    padding: 2rem;

    
  }
  
  .sign-in-icon {
    font-size: 5rem;
  }
  
  .input-remember {
    display: flex;
  }
  
  .input-remember label {
    margin-left: 0.25rem;
  }
  
  .input-wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 1rem;
  }
  
  .input-wrapper label {
    font-weight: bold;
  }
  
  .input-wrapper input {
    padding: 5px;
    font-size: 1.2rem;
  }

  

  /* additionnal style */

  .error-popup {

    width: auto;
    z-index: 999; /* insure the superposition */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    
  }
  
  .error-message {
    color: #ff0000;
    font-size: 16px;
    margin: 0;
  }

  .error-popup button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .error-popup button:hover {
    background-color: #0056b3;
  }
  
  