
html {

    height: 100 vh;
}

.bg-dark {

    /* height: 100%; */

    padding-top: 20px !important;
    padding-bottom: 140px !important;

    /* height: 100 vh; */

    flex: 1;
    background-color: #12002b;

    /*additionnal style*/
    /* margin-top: 20px;
    margin-bottom: 50px; */


}

main {
    display: block;
    unicode-bidi: isolate;
}