.transactions-list {
    width: 90%;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}

.transactions-list table {
    width: 100%;
    border-collapse: collapse;
}

.transactions-list th,
.transactions-list td {
    
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.purpose_value_col {

    display: flex;
    flex-direction: row;
    align-items: center;
}

.purpose_value_col p {

    margin-left: 5px;
    color:#42b983;
    font-size: 1.05rem;

    cursor: pointer;
    
}

.transactions-list th {
    background-color: #42b983;
    color: #fff;
}

.transactions-list tr:nth-child(even) {
    background-color: #a3dfc4;
}

.transactions-list tr:hover {
    background-color: #ddd;
}
