
.back-button {
    background-color: #00bc77;
    border-color: #00bc77;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    /* border-radius: 5px; */
    transition: background-color 0.3s;
}

.back-button:hover {
    background-color: #28692b;
    border-color: #28692b;
    color: #ddd;
}
